<!DOCTYPE html>
<html>
<head>
<style>
{background-image: url(https://www.itl.cat/pngfile/big/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg);}


body {
  background-color: #FAEBD7;
}

h1 {
  color: black;
  font-family: verdana;
  font-size: 250%; 
 }

h2 {
  color: black;
  font-family: courier;
  font-size: 200%;

 
p  {
  color: black;
  font-family: courier;
  font-size: 160%;
}
nav
{
  font-size: 120%;
  margin-top: 50px;
  float: left;
  width: 20%;
  background: #8A2BE2;
  height: 6071px;
  padding: 20px;
}
nav ul
{
  list-style: "\1F366";
  list-style-position:outside;
  color:green;
}
img {
  float: right;
}


</style>
</head>
<body>
